<h3> <%= flash[:message] if flash[:message] %> </h3>
<h1>Simplify Maintenance Management</h1>

<p> Helping maintenance teams keep a record of all assets they are responsible for, schedule and track maintenance tasks, and keep a historical record of work they perform.</p>